#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #2E3955;
    color: #fff;
    cursor: pointer;
    padding: 10px;
    border-radius: 2px;
}

#myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}

*{
    padding: 0;
    margin: 0;
}

.wrapper{
    width: 100%;
    height: auto;
    min-height: 300px;
    padding: 0 0px; 
}

.slide{
    width: 100%;
    height: 650px;
    position: relative;
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.header{
    position: relative;
    padding: 50px 50px;
}

.header-io{
    padding: 50px 50px;
}

.header-io .logo{
    float: left;
}

.header-io .menu-io{
    float: right;
}

.menu-io ul li{
    list-style: none;
    display: inline-block;
}

.menu-io ul li a{
    display: block;
    padding: 15px;
    color: black;
    text-decoration: none;
    font-size:20px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}

.header .logo{
    float: left;
}

.header .menu{
    float: right;
}

.menu ul li{
    list-style: none;
    display: inline-block;
}

.menu ul li a{
    display: block;
    padding: 15px;
    color: white;
    text-decoration: none;
    font-size:20px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}

.slideTitle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: 'Poiret One', cursive;
}

.slideTitle h1{
    font-size: 50px;
    text-align: center;
}

.slideTitle p{
    font-size: 18px;
    padding: 0 80px;
    text-align: center;
}

.content{
    padding: 0 40px;
}

.content-title{
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 0px 0;
    float: left;
}

.content-title h2{
    font-size: 38px;
    font-family: 'Montserrat', sans-serif;
    color: #333333;
}

.border span{
    width: 9px;
    height: 9px;
    margin: 0 3px;
    background-color: #9aabcf;
    border-radius: 100px;
    display: inline-block;
}

p.content-desc{
    font-size: 16px;
    color: #393838;
    padding: 20px 5px;
    width: 60%;
    margin-left: 20%;
    text-align: center;
    display: inline-block;
    float: left;
    font-family: 'Montserrat', sans-serif;
}

.skill-section{
    display: inline-block;
    width: 100%;
    float: left;
    padding: 45px 0;
}

.skill-img{
    width: 50%;
    float: left;
}

.skill-img img{
    width: 100%;
}

.skill-content{
    width: 45%;
    float: right;
}

h3.skill-title{
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    color: #393838;
    font-weight: 500;
    float: left;
    width: 100%;
}

.skills{
    width: 100%;
    float: left;
    padding-top: 32px;
}

.skills i{
    color:#393838;
    font-family: 'Montserrat', sans-serif;
    clear: both;
    float: left;
    font-size: 18px;
}

.skills span{
    width: 100%;
    height: 25px;
    margin-top: 5px;
    border: 1px solid #9aabcf;
    display: inline-block;
    float: left;
}

.skills span abbr{
    width: 35.5%;
    height: 25px;
    background-color: #9aabcf;
    display: inline-block;
}

.skills.female span abbr{
    width: 28.7%;
}

.skills.malewho span abbr{
    width: 73.4%;
}

.skills.femalewho span abbr{
    width: 83.8%;
}

.about-content, .desk-img{
    width: 100%;
    float: left;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    color: #393838;
    padding: 35px 0;
}

.about-desc{
    width: 50%;
    float: left;
    display: inline-block;
}

.about-desc2{
    width: 80%;
    display: inline;
    align-content: center;
}

.about-desc p{
    padding-bottom: 0;
}

.about-img{
    width: 45%;
    float: right;
    display: inline-block;
}

.desk-img img{
    width: 30%;
}

.desk-img img.desk3img{
    margin: 0 4%;
}

.clearfix{
    
}

.column{
    width: 30%;
    display: inline-block;
    float: left;
    text-align: center;
    color: #393838;
    font-family: 'Montserrat', sans-serif;
    padding: 0 20px;
    box-sizing: border-box;
}

.column.col2{
    margin: 0 5%;
}

.column.col3{
    float: right;
}

.column p{
    padding-top: 14px;
    font-size: 12px;
}

.content.ourteam{
    padding-top: 35px;
    clear: left;
}

.tm,.students{
    display: inline-block;
    width: 100%;
    float: left;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    padding: 25px 15px 0;
    padding-left: 100px;
}

.students{
    padding: 0 35px 15px;
}

.students.josiah{
    padding-left: 85px;
}

.students-image{
    width: 15%;
    float: left;
}

.students-image img{
    width: 120%;
}

.students-detail{
    width: 70%;
    float: left;
    padding-left: 50px;
    padding-top: 45px;
}

.students-detail h3{
    padding-bottom: 10px;
}

.students-detail h5{
    padding-bottom: 10px;
}

.students-detail p{
    font-weight: normal;
    font-size: 14px;
}

.students-detail.jherico{
    padding-left: 0px;
    padding-right: 25px;
}

/*.porfolio{
    padding: 0 15px;
}

.portfolio img{
    margin: 28px;
}*/

.slideshow-container{
    width: 500px;
    position: relative;
    margin: auto;
}

.slides{
    display: none;
}

.prev,.next{
    position: absolute;
    bottom: 35%;
    color: #f2f2f2;
    font-weight: bold;
    padding: 10px 10px;
    font-size: 18px;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
}

.next{
    border-radius: 3px 0 0 3px;
    right: 0;
}

.prev:hover,.next:hover{
    background: rgba(0,0,0,0.8);
}

.dots{
    width: 4px;
    height: 4px;
    display: inline-block;
    background: gray;
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
}

.fade{
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade{
    from{opacity: 0.4}
    to{opacity: 1}
}

.active,.dots:hover{
    background-color: #333;
}

form.contactform{
    padding: 0 45px 15px;
}

.txtfield{
    width: 48%;
    height: 35px;
    padding: 0 5px;
    font-size: 16px;
    font-style: italic;
}

.txtfield,.message{
    border: 1px solid #333333;
    font-family: 'Montserrat', sans-serif;
}

#submit{
    font-family: 'Montserrat', sans-serif;
    background-color: #9aabcf;
    width: 150px;
    height: 35px;
    border: 1px solid;
    color: #ffffff;
    margin-top: 5px;
    font-size: 15px;
    font-style: italic;
}

.txtfield.email{
    float: right;
}

.message{
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    margin-top: 15px;
    font-style: italic;
    font-size: 15px;
}




